#mobile-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f4f2f4;

  h1 {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    vertical-align: middle;
    margin: 0;
  }

  a h1:hover {
    color: $altgreen;
  }

  .rk-icon {
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 48px;
    text-indent: -2000px;
    overflow: hidden;
    background: url("../images/riad-kilani-logo-icon.svg") top left no-repeat;
    background-size: cover;

    &:hover {
      background: url("../images/riad-kilani-logo-icon.svg") bottom left no-repeat;
      background-size: cover;
    }
  }
}

.mobile-button {
  background-color: $grey;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 5px 12px;
  float: right;

  .fas.fa-bars {
    text-shadow: 0 0 1px #ccc;
  }
}

#content {
  &.mobile-open {
    right: 85%;
  }
}