.modular-container {
  display: flex;
  justify-content: space-between;

  .modular-item {
    margin: 0 20px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}
@media all and (max-width: 767px) {
  .modular-container {
    flex-wrap: wrap;
  }

  .modular-item {
    flex-basis: 100%;
    margin: 0 0 40px;
  }
}