.wp-portfolio-wrapper {
  column-count: 4;
  column-gap: 1em;
  h1, h2 {
    display: none;
  }
  .portfolio-website {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
}