.content-wrapper section {
  width: 100%;
  display: block;
  padding: 40px 0;
  border-bottom: solid 1px #e3e3e3;
  @include clearfix;

  .section-title {
    color: #3D79B1;
  }

  .section-title,
  .sub-section-title {
    display: block;
    text-align: center;
  }

  .section-title {
    margin: 40px;
  }
}

.cat-links {
  padding-right: 10px;
}

.comments-link {
  display: block;
}

.featured-image {
  border: solid 4px #fff;
  @include borderRadius;
  @include boxShadow2(0px, 0px, 2px, #ccc);
  margin-bottom: 20px;
}

.blog .featured-image {
  float: right;
  margin: 0 0 10px 10px;
}

div.wpcf7 img.ajax-loader {
  width: 100px;
  height: 100px;
}

.syntaxhighlighter {
  padding: 10px;
}
//Social Media Icon Demo

.socialIcons {
  font-size: 24px;
  padding: 10px;
  border: solid 1px #ccc;
  margin-bottom: 10px;
  display: block;

  ul {
    margin: 10px 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    line-height: 40px;

    a {
      color: #000;
      display: block;
      width: 40px;
      height: 40px;

      &:hover {
        color: #fff;
      }

      &.fb:hover {
        background: #3c599f;
      }

      &.twitter:hover {
        background: #00aced;
      }

      &.google:hover {
        background: #d85131;
      }

      &.linkedin:hover {
        background: #017eb4;
      }

      &.pinterest:hover {
        background: #d20003;
      }

      &.youtube:hover {
        background: #c8312b;
      }
    }
  }
}
@media all and (max-width : 1023px) {}
@media all and (max-width: 830px) {}
@media all and (max-width: 767px) {
  .row {
    padding: 0 10px;
  }

  #main,
  #primary,
  #secondary {
    float: none;
    width: 100%;
  }

  .site-main {
    max-width: 100%;
    //padding: 0 20px;
    border-right: none;
    box-shadow: none;
  }
}
@media all and (max-width: 639px) {
  #main-contact {
    .col-5 {
      width: 100%;
    }

    .col-7 {
      width: 100%;
    }
  }
}
/*#wpadminbar {
  display: none!important;
}*/

body {
  strong {
    font-weight: bold;
  }

  .hentry {
    margin: 30px 0 1.5em;

    header.entry-header h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}

.section-title {
  @include ptFontSize(34);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  margin: 0 0 20px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;

  &:after {
    clear: both;
  }

  &:after,
  &:before {
    content: "";
    display: table;
  }
}

body #content {
  transition: 1s;
  right: 0;
  top: 0;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0;
  z-index: 4;
  //box-shadow: rgba(0,0,0,0.75) 0 0 10px 5px;
  //padding: 20px;
  height: 100%;
}
@media all and (min-width: 768px) {
  body {
    z-index: -4;
  }

  body #content {
    max-width: 100%;
    box-shadow: none;
    padding: 0;
    position: inherit;
    z-index: -1;
  }

  .mobile-button {
    display: none;
  }
}