/* ========Buttons======== */

.normal {
  background: $primarygreen;
  border: solid 1px $primarygreen;
  color: $white;
  box-shadow: none;
  border-radius: 0;
  text-shadow: 1px 1px 1px $altgreen;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(1);

  &:hover {
    background: $altgreen;
    border-color: $altgreen;
    box-shadow: none;
  }

  &.alt {
    background: $standout;
    border-color: $standout;

    &:hover {
      opacity: 0.8;
    }
  }
}

.spacer {
  display: block;
  height: 40px;
}