/* ========Buttons======== */
.normal {
  background: rgba(160, 193, 59, 1);
  border: solid 1px rgba(160, 193, 59, 1);
  color: #fff;
  box-shadow: none;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(74, 91, 31, 1);
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(1);

  &:hover {
    background: rgba(74, 91, 31, 1);
    border-color: rgba(74, 91, 31, 1);
    box-shadow: none;
  }
}

.spacer {
  display: block;
  height: 40px;
}