/* ================================ VARIABLES ================================ */
/* 1. Locations
/* 2. Colors
/* 3. Typography
/* 4. Responsive Sizes
/* =========================================================================== */

/* ================================== COLORS ================================= */
$color-01: #FFF;     /* White */
$color-02: #000;     /* Black */
$color-03: #333;     /* Standard light grey */
$color-04: #666;     /* Standard grey */
$color-05: #999;     /* Standard dark grey */
$color-06: #e2e2e2;  /* Grey */
$color-07: #c9c9c9;  /* Light grey */
$color-08: #272727;  /* Dark grey */
$color-09: #1a1a1a;  /* Black grey */
$color-10: #efefef;  /* Extra light grey */
$color-11: #004a7e;  /* Sandcastle Blue */
$color-12: #0074BD;  /* Admin blue */
$color-13: #ff862a;  /* RSS orange */


/* ============================= RESPONSIVE SIZES ============================ */
$respondTablet: 999px;
$respondTabletSmall: 767px;
$respondMobile: 639px;
$respondMobileSmall: 479px;

/* =============================== TECH VALUES ============================== */
$HTML5: 100%;
$CSS3: 100%;
$JS: 70%;
$PHP: 40%;
$WP: 100%;







