/* ================================ VARIABLES ================================ */
/* 1. Locations
/* 2. Colors
/* 3. Typography
/* 4. Responsive Sizes
/* =========================================================================== */
/* ================================== COLORS ================================= */
$white: rgba(255, 255, 255, 1); /* White */
$black: rgba(0, 0, 0, 1); /* Black */
$lightgrey: rgba(201, 201, 201, 1); /* Light grey */
$grey: rgba(39, 39, 39, 1); /* Primary Text */
$darkgrey: rgba(26, 26, 26, 1); /* Head Text */
$altgreen: rgba(74, 91, 31, 1); /* Alt Green */
$primarygreen: rgba(160, 193, 59, 1); /* Primary Green */
$standout: rgba(255, 153, 0, 1); /* RSS orange */
/* ============================= RESPONSIVE SIZES ============================ */
$respondTablet: 999px;
$respondTabletSmall: 767px;
$respondMobile: 639px;
$respondMobileSmall: 479px;
$maxWidth: 1200px; /* =============================== TECH VALUES ============================== */
$HTML5: 90%;
$CSS3: 100%;
$JS: 90%;
$PHP: 60%;
$WP: 100%; /* =============================== Margins & Paddings ============================== */
$marginCenter: 0 auto;
$noMargin: 0;
$negMargin: 0 -20px;
$paddingLR: 0 20px;